<div class="panel panel-warning">
  <div class="panel-heading"><h2>Available stocks</h2></div>
  <table class="table table-striped">
    <tr>
      <th>Symbol</th>
      <th>Company</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let stock of stocks" >
      <td>{{stock.getSymbol()}}</td>
      <td>{{stock.getCompany()}}</td>
      <td>{{stock.getPrice()}}</td>
    </tr>
  </table>
</div>
<div style="margin: 50px 50px 50px 50px;">
  <h1>LIVE TRADING</h1>
  <br><br>
  <nav>
    <a class="btn btn-default" routerLink="/market" routerLinkActive="active">Market</a>
    <a class="btn btn-default" routerLink="/traders" routerLinkActive="active">Traders</a>
  </nav>
  <br><br>
  <router-outlet></router-outlet>
</div>

